includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src
        - facturare-gestiune-oblio-woocommerce.php
        - uninstall.php
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    treatPhpDocTypesAsCertain: false
